<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classproject.Mapper.BlankqsMapper">
    <insert id="addquestion" parameterType="java.util.ArrayList">
        insert into blankqs(questionaireid,detail,groupname,blanknums)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.questionaireid,jdbcType=INTEGER},#{item.detail,jdbcType=VARCHAR},#{item.groupname,jdbcType=VARCHAR},#{item.blanknums,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="findqs" parameterType="int" resultType="com.example.classproject.entity.question.Blankqs">
        select * from blankqs where questionaireid=#{questionaireid}
    </select>
    <delete id="deleteqs" parameterType="int">
        delete from blankqs where questionaireid=#{questionaireid}
    </delete>
</mapper>