<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classproject.Mapper.MultiselectqsMapper">
    <insert id="addquestion" parameterType="java.util.ArrayList">
        insert into multiselectqs(questionaireid,detail,groupname,selects,minselectnum,maxselectnum)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.questionaireid,jdbcType=INTEGER},#{item.detail,jdbcType=VARCHAR},#{item.groupname,jdbcType=VARCHAR},#{item.selects,jdbcType=VARCHAR},#{item.minselectnum,jdbcType=INTEGER},#{item.maxselectnum,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="findqs" parameterType="int" resultType="com.example.classproject.entity.question.Multiselectqs">
        select * from multiselectqs where questionaireid=#{questionaireid}
    </select>
    <delete id="deleteqs" parameterType="int">
        delete from multiselectqs where questionaireid=#{questionaireid}
    </delete>
</mapper>