<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classproject.Mapper.QuestionaireMapper">
    <select id="selectquestionaire" resultType="com.example.classproject.entity.Questionaire">
        select * from questionaire where id in
        <foreach collection="list" item="item" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <insert id="addquestionaire" parameterType="com.example.classproject.entity.Questionaire" useGeneratedKeys="true" keyProperty="id">
        insert into questionaire (creater,title,id) values(#{creater},#{title},#{id})
    </insert>
</mapper>