<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classproject.Mapper.TeacherMapper">
    <select id="selectTeacher" resultType="com.example.classproject.entity.Teacher" parameterType="int">
        SELECT * FROM teacher where account = #{account};
    </select>
    <update id="updatepw">
        UPDATE teacher SET PASSWORD=#{param2} WHERE account=#{param1};
    </update>
</mapper>